@media screen and (min-width: 769px) and (max-width: 1279px){
    .wrapper{
        width: 720px;
       flex-wrap: wrap;
        gap: 24px;
    }
    .card{
        width: 348px;
        height: 50%;
        margin-bottom: 16px;
    }
}