body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.animation{
    margin: 100px auto;
}
.animation img {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column ;
}
.boat{
    animation: boat 3s ease-in-out infinite alternate;
}
.wave{
    animation: wave 4s ease-in-out infinite alternate;
}
@keyframes boat {
    from {
        transform: translate(0,0);
    }
    10%{
        transform: translate(20px,10px);
    }
    20%{
        transform: translate(40px,-10px);
    }
    30%{
        transform: translate(60px,10px);
    }
    40%{
        transform: translate(80px,-10px);
    }
    50%{
        transform: translate(100px,10px);
    }
    60%{
        transform: translate(120px,-10px);
    }
    70%{
        transform: translate(140px,10px);
    }
    80%{
        transform: translate(160px,-10px);
    }
    90%{
        transform: translate(180px,10px);
    }
    to{
        transform: translate(200px,0);
    }
}
@keyframes wave {
    from{
        transform: skew(5deg);
    }
    50%{
        transform: scale(1.2);
    }
    to{
        transform: skew(-5deg);
    }
}